.about-section .subheading-anchor:hover{
    text-decoration: none;
    pointer-events: none;
    cursor: pointer;
}

.about-section .subheading-anchor:hover *{
    pointer-events: none;
    cursor: pointer;
}